<div class="min-h-screen">
  <h1 class="pt-8 text-3xl font-bold text-center">Register New Patient</h1>
  <%= render 'form', patient: @patient %>
  <%= link_to 'Back to Patients List', receptionist_patients_path, class: "hover:text-black text-gray-600 flex justify-center" %>
</div>
